# Папка виртуальной среды
#.venv/
#venv/

# Файлы PyCharm
.idea/
*.iml

# Скомпилированные файлы Python
__pycache__/
*.py[cod]

# Локальные конфигурационные файлы
.env
*.env
*.ini

# Логи и базы данных
*.log
*.sqlite3

# Операционные файлы системы
.DS_Store
Thumbs.db

# Другие временные файлы
*.tmp
*.bak
